body{
    background-image: url("https://raw.githubusercontent.com/gabriel-rausch/EIA1-SoSe20/master/L04/task_material/Station_5_Spaltenlayout/images/bg.png");
    font-family: sans-serif;
    color: lemonchiffon;
    text-align: left;
}


https://raw.githubusercontent.com/gabriel-rausch/EIA1-SoSe20/master/L04/task_material/Station_3_Fonts/images/bg.png