/*  


body {
    background-image: href="paper.https://raw.githubusercontent.com/gabriel-rausch/EIA1-SoSe20/master/L03/task_material/images/bg.png";
  }

a {
  font-family: sans-serif;
}

h1{
  text-align: center;
  font-family: sans-serif; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

*/