
  body{
   background-image: url("https://fionavi.github.io/EIA-SOSE20/Aufgabe 3/bg.png");
   

    
    font-family: sans-serif;
    text-align:center;
  }



header {
    background-color: teal;
    height: 275px;
    width: 550px;
    -webkit-border-radius: 250px 250px 250px 250px;
    -moz-border-radius: 250px 250px 250px 250px;
    border-radius: 0px 0px 350px 350px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5px;
    border-top: 0px;
    padding-top: -5px;

   }
   
.textaufkreis {
    font-size: 90px;
    color: white;
    position: relative;
    
    
}


.name {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: right;
    padding-left: 120px;
}

.untertext {
    font-size: 15px;
    width: 200px;
    color: white;
    text-align: right;
    padding-left: 220px;
}

.fb {
    margin-left: 1px;
    margin-right: 1px;
    position: relative;
    left: 80px;
    
}

.fb:hover{
   opacity: 0.5;
   width: 1pxpx;
   margin-left: 1px;
   margin-right: 1px;
   padding-left: 0px;
   padding-right: 0px;

}


  li {
    list-style: none;
    text-align: center;
    float: right;
    border-right: 1px solid #bbb;
    border-radius: 25px;
}


 

ul {
    position: sticky;
    top: 0;
    

}

li a {

    color: white;
    background-color:black;
    text-decoration: none;
    display: block;
    padding: 5px;  
}


li a:active {
    color: rgb(7, 143, 153);
  }

.navi {
    padding: 5px;
    margin: 5px;
    position: fixed;
    right: 15px;
    left: 1270px;
    top: 0;
    width: 218px;
    border: solid;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    background-color: black;
    z-index : 2;

   
    display: block;
    
}


.navi li b{
    color: white;
    font-family: sans-serif;
}

li a:hover {
    color: rgb(7, 143, 153);
}



h1{
  text-align: center;
  font-family: sans-serif;
  color:rgb(7, 143, 153);
}

h2{
    font-family: sans-serif;
    color: rgb(7, 143, 153);
    margin: 30px;
    padding: 20px;
}

.box {
    padding: 2px 0px;
    margin: 7px 300px;
    text-align: left;
    
   
}

.field {
    padding: 2px 2px 4px;
    margin: 7px 350px;
    width: 300px;
    text-align: left;
    background-color: rgb(146, 153, 160);
}

.field a {
    font-family: sans-serif;
    color: white;
}

.message {
    padding: 2px 2px 4px;
    margin: 10px 350px;
    width: 410px;
    height: 90px;
    text-align: left;
    background-color: rgb(146, 153, 160);
}

.message a {
    font-family: sans-serif;
    color: white;
}

.send {
    padding: 2px 2px 4px;
    margin: 7px 350px;
    width: 80px;
    text-align: center;
    background-color: rgb(146, 153, 160);
}

.send a {
    font-family: sans-serif;
    color: white;
}

.send a:hover {
    color: rgb(7, 143, 153);
}

.text {
    padding: 2px 2px 4px;
    margin: 7px 350px;
    width: 800px;
    text-align: left;

}

.text a {
    font-family: sans-serif;
    font-size: small;
    
}


.bild {
    
    align-items: center;
    margin-left: 560px;
    width: 400px;
    height: 500px;
}

.steckbrief {
    margin: px 20px;
    float: left;
    width: 400px;
    height: 150px; 
}

.steckbrief p {
   margin-left: 560px;
   margin-bottom: 10px;
   width: 400px;
    font-family: sans-serif;
    font-size: medium;
    text-align: right;
    color: rgb(7, 143, 153);
}



#portfolio_link a {
    color: rgb(7, 143, 153);
}

#aboutme_link a {
    color: rgb(7, 143, 153);
}

#contact_link a {
    color: rgb(7, 143, 153);
}

