body{
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe 4/Station1/Bilder/bg.png");
}

.card{
    position: absolute;
    width: 800px;
    height: 430px;
    right: 100px;
    top: 100px;
}

p {
    color: red;
}