body{
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe 4/Station1/Bilder/bg.png");
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 20%;
    margin-right: 50%;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 900px;

}



.muscheln {
    position: absolute;
    margin-top: 180px;
    margin-left: -320px;
   
   
}


.pinguin {
    position: absolute;
    margin-top: 190px;
    margin-left: 350px;
   
}

.text {
    position: absolute;
    text-align: center;
    width:600px;
    top: 74%;
    margin-top: -170px;
    margin-left: 0px;
    right: initial;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    font-size: x-large;
    color: silver;
    z-index: 100;
}
