body{
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe 4/Station2/bg.png");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 10%;
    margin-top: 10%;

}

.image {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel.png");
    width: 70px;
    height: 65px;
    margin-left: -150px ;
}

.image2 {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel.png");
    width: 70px;
    height: 65px;
    margin-left: 0px ;
    margin-top: -50px;
    
}

.image3 {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel.png");
    width: 70px;
    height: 65px;
    margin-left: 150px ;
  
}

.image:hover { 
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel_perle.png");
    }

.image2:hover { 
        background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel_perle.png");
        }

 .image3:hover { 
            background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel_perle.png");
            }
        
.text {
        position: absolute;
        text-align: center;
        width:600px;
        top: 74%;
        right: initial;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
        font-size: xx-large;
        color: maroon;
        
 }
    