body{
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe 4/Station2/bg.png");
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
   
}

.card {
    position: relative;
    text-align: center;
    display: flex;
    width: 100%;
    height: 400px;
    align-items: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 25%;
    margin-right: auto;

}

.image {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel.png");
    width: 70px;
    height: 65px;
    margin-left: 100px ;
}

.image2 {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel.png");
    width: 70px;
    height: 65px;
    margin-left: 250px ;
    
}

.image3 {
    position: absolute;
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel.png");
    width: 70px;
    height: 65px;
    margin-left: 400px ;
  
}

.image:hover { 
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel_perle.png");
    }

.image2:hover { 
        background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel_perle.png");
        }

 .image3:hover { 
            background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Station2/muschel_perle.png");
            }
        
.text {
        position: absolute;
        text-align: center;
        width:600px;
        top: 74%;
        right: initial;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        
        font-size: large;
        color: maroon;
        
 }
    