body{
    background-image: url("https://raw.githubusercontent.com/fionavi/EIA-SOSE20/master/Aufgabe%204/Tesselation-Transition.jpg");
}

h1 {
    font-family: sans-serif;
text-align: center;
font-size: xx-large;
color: rgb(87, 72, 170);
}

a {
font-family: sans-serif;
text-align: center;
font-size: x-large;
color: rgb(87, 72, 170);
}

   
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: auto;
    margin-top: 30%;
    max-width: 100px;
}

.text {
    position: relative;
    text-align: center;
    widows: 100%;
    top: 70%;
    margin-top: 100px;
    right: initial;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
    
}
